@model BO.Pizza

<h2>Suppression</h2>

<h3>Etes vous sûr de vouloir supprimer cet élément ?</h3>
<div>
    @Html.Partial("_PizzaDetails", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
