@model BO.Pizza

<h2>Détails d'une pizza</h2>

<div>
    @Html.Partial("_PizzaDetails", Model)
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
